.header {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  border-bottom: 1px solid #e7e7e7;
  color: black;

  .header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .header__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;

      & input {
        width: 25rem;
        background-color: white !important;
        border-radius: 0;
      }
    }

    .header__logo {
      cursor: pointer;
    }
  }



  &__logo {
    margin-right: 1rem;

    img {
      height: 40px;
      width: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &__title {
      margin: 0;
      font-size: 1.5rem;
      color: #333;
    }
  }
}

@media (max-width: 518px) {
  .header_top {
    gap: 1rem;
  }
}