.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  .rightZone {
    width: 25%;
    margin-top: 3rem;
  }
  .leftZone {
    flex: 1;
    .listMusic {
      width: 95%;
      margin: 0 auto;
    }
  }
}
